<div class="lesson-wrapper">
      <div class="row">
        <div class="col-xs-5 student-info-lesson">
          <div class="info">
            <div class="info-label">Lesson Date</div>
            <p><%= @lesson.start_time.strftime('%A, %b %d, %Y') %></p>
          </div>
          <div class="info">
            <div class="info-label">Lesson Goal</div>
            <p><%= @lesson.learning_goal %> for <%= @lesson.time_goal %> seconds</p>
          </div>
        </div>
        <div class="col-xs-4 student-info-lesson-number">
          <div class="info">
            <div class="info-label">Lesson number</div>
            <p><%= @course.lessons.count %></p>
          </div>
          <div class="info">
            <div class="info-label">Students Present</div>
            <%= @lesson.attendances.count %> <%= image_tag 'student_icon.png', class: "small-icon" %>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="info">
            <div class="info-label">Lesson status</div>
            <p><% if @lesson.completed == true %>
              <div class="course-show-row-item course-show-row-status" style="color:#32B796;">Complete</div>
              <% elsif @lesson.completed == false %>
              <div class="course-show-row-item course-show-row-status" style="color: #EE5F5B;">In Progress</div>
              <% end %></p>
          </div>
        </div>
        <div class="col-xs-3">
        <%= button_to "Start lesson", lesson_time_trials_path(@lesson), method: :post, class: "btn-primary" %>
        </div>
      </div>
    </div>



